<% if current_user.present? %>
    <p id="notice"><%= notice %></p>
    <h1>User: <%= current_user.name %></h1>
  <%= link_to 'New Article', new_article_path %>
    <% else %>
    <%= link_to '“Для добавления и комментирования сообщений выполните вход”', '/users/sign_in' %>
<% end %>

<h1>Listing Articles</h1>

<table>
  <thead>
  <tr>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @articles.reverse.each do |article| %>
      <tr>
        <td>(<%= article.user.name %></td>
        <td><%= l(article.created_at, format: :short) %>)</td>
        <td><%= article.body %></td>
        <% if current_user.present? %>
            <td><%= link_to 'Show', article %></td>
            <% if current_user == article.user %>
                <td><%= link_to 'Edit', edit_article_path(article) %></td>
                <td><%= link_to 'Destroy', article, method: :delete, data: {confirm: 'Are you sure?'} %></td>
            <% end %>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
